@{
    ViewData["Title"] = "Thank You!!!!";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/videoCss.css" />

<h1 class="display-4">Welcome to our Cake Shop</h1>

<h3>Lian Nidam - Cooker and Baker, professional designer</h3>
<h3>Or Reuven - Website maker, professional eater</h3>
<video id="viddd" muted loop autoplay src="~/video/pexels-yan-krukov-7792039.mp4"></video>
