@model WebApplicationCakeShop.Models.User

@{
    ViewData["Title"] = "Register";
}
<h1 class="font-weight-bold">Welcome! </h1>

<hr />
<div class="wrapper text-black-50">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <i class="fa fa-user"></i>
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa fa-lock"></i>
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa fa-envelope"></i>
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa fa-user"></i>
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa fa-user"></i>
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <i value="Login" class="fa fa-phone"></i>
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"> </span>
            </div>
            <div class="form-group">
                <input type="submit" value="Click to Sing in" class="btn btn-outline-info" />
            </div>

            <video style="position:relative; top: -590px; left: 500px" autoplay loop muted src="~/video/pexels-alleksana-7430216.mp4" width="600" height="600" ></video>

        </form>


        <!--Prevents duplication of users-->
        @if (ViewBag.Error != null)
        {
            <div class="text-danger">@ViewBag.Error</div>
        }
    </div>
</div>

<p class="font-weight-normal">
    Already registered? <a asp-action="Login">Click here</a> to login
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
